@model WebApp.Dtos.CatalogDto

<div class="product">
    <div class="product__image-container">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" alt="@Model.Name" class="product__image"/>
        }
        else
        {
            <div class="product__no-image">No Image</div>
        }
    </div>
    <div class="product__content">
        <h3 class="product__title">@Model.Name</h3>
        <p class="product__description">@Model.Description</p>
        <div class="product__categories">
            @foreach (var category in Model.Categories)
            {
                <span class="product__category">@category</span>
            }
        </div>
        <div class="product__footer">
            <div class="product__price">$@Model.Price.ToString("F2")</div>
            <button data-product-id="@Model.Id" class="product__add-button add-to-cart-btn">
                Add to Cart
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script>

    </script>
}